<h2 class="page-header"><%= books.title%></h2>
<div class="book-details">
    <div>
        <img class="book-cover" src="<%= books.coverImagePath%>" alt="abc" width="100px" height="150px">
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/edit/<%= books.id%>">Edit</a>
            <%- include('../partials/deleteForm',{
                url:`/books/${books.id}`
            })%>
            <a  class="btn btn-primary books-details-author-button"href="/authors/<%= books.author.id%>">View Author</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">Author:</div>
        <div><%= books.author.name%></div>
        <div class="book-details-label">Publish Date:</div>
        <div><%= books.publishDate.toDateString()%></div>
        <div class="book-details-label">Page Count:</div>
        <div><%= books.pageCount%></div>
        <div class="book-details-label">Description:</div>
        <div><%= books.description%></div>
    </div>
</div>


